In [128]:
import numpy as np
import pandas as pd

In [129]:
x="hello world"
print(x)

hello world

In [130]:
x=6 
# x= integer
y=4.5
# y= float
z= True
# z= Boolean
q= "5 lira"
# q= string

In [131]:
q="5 lira"
q
"5"+"4"

'54'

In [132]:
A= 55
A

55

In [133]:
type(True)

bool

In [134]:
#type casting
int(2.6)

2

In [135]:
len("betül")
#len= lenght in kısaltmasıdır içerisindeki karakter sayısını gösterir

5

In [136]:
name= "Betül"
full_name="Betül Sena TALU"
name[2],name[-1],name[1:3],full_name[1:20:2]

('t', 'l', 'et', 'eü eaTL')

In [164]:
x = input("Bir sayı giriniz:")
x

'9'

In [165]:
int(x)*10

90

In [167]:
x = int(input("Please enter a number:"))
while x < 0:
    print("it's negative! Please enter a positive number. ")
    x = int(input("Enter a number:"))

print("Thanks for positive number=", x)

it's negative! Please enter a positive number.
Thanks for positive number= 8

In [140]:
toplam = 0
x = 0
while x <= 10 :
    toplam += x
    x += 1
print(toplam)

55

In [141]:
for x in range(5):
    print(x)

0
1
2
3
4

In [142]:
x= 0

while x < 10:
    x += 1
    if x == 5:
        break
    print(x)

1
2
3
4

In [143]:
for i in range(10):
    if i == 6:
        print("*")
        continue
    print(i)

0
1
2
3
4
5
*
7
8
9

In [144]:
i = 0
while(i < 10):
    if (i == 3 or i == 5):
        i += 1
        continue
    print("i:", i)
    i += 1

i: 0
i: 1
i: 2
i: 4
i: 6
i: 7
i: 8
i: 9

In [145]:
# list
student_points= [36,78,90,56,75,95,48,45]
student_points[3], student_points[0:8:2]

(56, [36, 90, 75, 48])

In [146]:
#listeye yeni bir değer ekleme
student_points= [36,78,90,95,48,45]
student_points.append (100)
print(student_points)

[36, 78, 90, 95, 48, 45, 100]

In [147]:
#listeye yeni birçok değer ekleme
student_points= [36,78,90,95,48,45]
student_points.extend ([100,25,30])
print(student_points)

[36, 78, 90, 95, 48, 45, 100, 25, 30]

In [148]:
#listeye yeni eklenen değeri istediğim sıraya ekleme
student_points= [36,78,90,95,48,45]
student_points.insert (2,100)
print(student_points)

[36, 78, 100, 90, 95, 48, 45]

In [149]:
#listeden istediğim değeri çıkarma
student_points= [36,78,90,95,48,45]
student_points.remove (90)
print(student_points)

[36, 78, 95, 48, 45]

In [150]:
#listedeki seçtiğim değerden kaç tane olduğunu bulma
student_points= [36,78,90,95,48,45,90]
student_points.count (90)

2

In [151]:
#tersten yazıyor listeyi
liste=[1,2,3,4,5]
liste.reverse()
print(liste)

[5, 4, 3, 2, 1]

In [152]:
#sıralama yapma 'sorting'
#liste.sort() şeklinde de yazılabilir
liste=[1,4,3,2,5]
sorted(liste)

[1, 2, 3, 4, 5]

In [153]:
#in komutu, listenin içindeki elemanı sorguladığımızda var mı yok mu onu söylüyor
3 in liste

True

In [154]:
#Dictionaries
notlar = [80,75,90]
student = ["deniz","betül","ayşe"]
student_num = [1000,2000,3000,]
print(" The student named", student[1], "with the number", student_num[1],"has a score of", notlar[1])

 The student named betül with the number 2000 has a score of 75

In [155]:
scores={"deniz": 80, "betül": 75 , "ayşe": 90}
scores["betül"]

75

In [156]:
del scores["deniz"]
print(scores)

{'betül': 75, 'ayşe': 90}

In [169]:
s = "Hi, how are you ?"
s.split(" ")

['Hi,', 'how', 'are', 'you', '?']

In [171]:
s2= ['limon', 'elma', 'portakal']
"---".join(s2)

'limon---elma---portakal'

In [174]:
squares=[i*i for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [185]:
def cube(x):
    return x * x * x

cubes = [cube(x) for x in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [187]:
m=[[j for j in range(7)] for i in range(5)]
m

[[0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6]]

In [191]:
x,y, *z = (3,4,7,8,9)
print(x,y,z)

3 4 [7, 8, 9]

In [194]:
x=[(1,2),(10,20)]
for e in x:
    print(e)

(1, 2)
(10, 20)

In [196]:
for e in x:
    a,b=e
    print(a)
    print(b)
    print("******")

1
2
******
10
20
******

In [199]:
#enumerate numaralndırmaya yarıyor
adlar=["tyler","blake","cory","cameron"]
for i,e in enumerate(adlar, start=1):
    print(i,"lokaysonunda bulunan eleman:",e)

1 lokaysonunda bulunan eleman: tyler
2 lokaysonunda bulunan eleman: blake
3 lokaysonunda bulunan eleman: cory
4 lokaysonunda bulunan eleman: cameron

In [201]:
students=["student_1","student_2","student_3"]
grades= [90,80,70]
for i in range(len(students)):
    s = students[i]
    g = grades[i]

    print(s,g)

student_1 90
student_2 80
student_3 70

In [214]:
keys = ['name','lastname','country','job']
values = ['denis','walker','england','data scientist']

d = {}
for k, v in zip(keys, values):
    d[k] = v

print(d)

{'name': 'denis', 'lastname': 'walker', 'country': 'england', 'job': 'data scientist'}

In [230]:
def f(t):
    res = t*t
    for i in range(10):
        res +=20
        
        return res

print(f(10))

120

In [236]:
def h(end, start= "Hello "):
    print(start + "" + end)
    
h("Deniz")
h("Deniz","hey ")

Hello Deniz
hey Deniz

In [249]:
x=2
f"x'in değeri {x+3}"

"x'in değeri 5"

In [250]:
isim= input("isim gir")
f"x'in değeri {isim}"

"x'in değeri bett"